# IDEA
.idea/
*.iml

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Compiled binary addons (http://nodejs.org/api/addons.html)
build/

# Generated assets
css/

# Dependency directory
# Commenting this out is preferred by some people, see
# https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules

# Bower dependencies
bower_components/

# Compass
.sass-cache/

# Mac OS X
.DS_Store
